{% load static %}

{% include 'header.html' %}

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
      <nav class="navbar bg-secondary navbar-dark">
        <a href="/" class="navbar-brand mx-4 mb-3">
          <h3 class="text-primary"><i class="fa fa-home"></i> sixman</h3>
        </a>
        <div class="navbar-nav w-100">
          {% if context.User != "main" %}
          <a href="/index/{{context.User}}/" class="nav-item nav-link"><i
              class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
          <a href="/detail/{{context.User}}/" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Detail</a>
          <a href="/input/{{context.User}}/" class="nav-item nav-link active"><i
              class="fa fa-keyboard me-2"></i>Input</a>
          <a href="/record/{{context.User}}/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Record</a>
          <a href="/realtime/{{context.User}}/" class="nav-item nav-link"><i
              class="fa fa-chart-bar me-2"></i>Realtime</a>
          <div class="nav-item dropdown">
            <a href="/disign/{{context.User}}/" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                class="far fa-file-alt me-2"></i>Design</a>
            <div class="dropdown-menu bg-transparent border-0">
              <a href="/" class="dropdown-item">sodole</a>
              <a href="/" class="dropdown-item">file</a>
            </div>
          </div>
          {% else %}
          <a href="/index/main/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
          <a href="/detail/main/" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Detail</a>
          <a href="/input/main/" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Input</a>
          <a href="/record/main/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Record</a>
          <a href="/realtime/main/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Realtime</a>
          <div class="nav-item dropdown">
            <a href="/disign/main/" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                class="far fa-file-alt me-2"></i>Design</a>
            <div class="dropdown-menu bg-transparent border-0">
              <a href="/" class="dropdown-item">sodole</a>
              <a href="/" class="dropdown-item">file</a>
            </div>
          </div>
          {% endif %}
        </div>
      </nav>
    </div> <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
      <!-- Navbar Start -->
      {% include 'navbar.html' %}
      <!-- Navbar End -->


      <div class="container-fluid pt-4 px-4 ">
        <div class="row g-4">
          <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
              <h6 class="mb-4">Input Info</h6>
              <div class="table-responsive text-center">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th scope="col">created</th>
                      <th scope="col">speed</th>
                      <th scope="col">battey</th>
                      <th scope="col">color</th>
                      <th scope="col">User</th>
                      <th scope="col">제출</th>
                    </tr>
                  </thead>
                  <tbody class="align-middle">
                    <form action="createmycar/" method="get">
                      <tr>
                        <th scope="row">auto</th>
                        <td><input name="speed" type="text" class="form-control text-center"
                            style="width: 40%; margin:auto;" placeholder="ex)100">
                        </td>
                        <td><input name="battery" type="text" class="form-control text-center"
                            style="width: 40%; margin:auto;" placeholder="ex)100"></td>
                        <td><input type="color" class="form-control form-control-color text-center" style="margin:auto;"
                            id="exampleColorInput" value="#563d7c" name="color"></td>
                        <td><input class="form-control text-center" style="width: 40%; margin:auto;" type="text"
                            placeholder="{{context.User}}" aria-label="Disabled input example" disabled>
                        </td>
                        <td><button type="submit" class="btn btn-success m-2">제출</button>
                        </td>
                      </tr>
                    </form>
                  </tbody>
                </table>
                <div class="text-start text-danger">&nbsp;&nbsp;&nbsp;&nbsp;{{text.errormessage}}</div>

              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Footer Start -->
      {% include 'footer.html' %}
      <!-- Footer End -->
    </div>
  </div>
  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'lib/chart/chart.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

  <!-- Template Javascript -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>