{% load static %}

{% include 'header.html' %}

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
      <nav class="navbar bg-secondary navbar-dark">
        <a href="/" class="navbar-brand mx-4 mb-3">
          <h3 class="text-primary"><i class="fa fa-home"></i> sixman</h3>
        </a>
        <div class="navbar-nav w-100">
          {% if User != "main" %}
          <a href="/index/{{User}}/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
          <a href="/detail/{{User}}/" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Detail</a>
          <a href="/input/{{User}}/" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Input</a>
          <a href="/record/{{User}}/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Record</a>
          <a href="/realtime/{{User}}/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Realtime</a>
          <div class="nav-item dropdown">
          <a href="/disign/{{User}}/" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Design</a>
          <div class="dropdown-menu bg-transparent border-0">
            <a href="signin.html" class="dropdown-item">Sign In</a>
            <a href="signup.html" class="dropdown-item">Sign Up</a>
          </div>
        </div>
          {% else %}
          <a href="/index/main/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
          <a href="/detail/main/" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Detail</a>
          <a href="/input/main/" class="nav-item nav-link active"><i class="fa fa-keyboard me-2"></i>Input</a>
          <a href="/record/main/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Record</a>
          <a href="/realtime/main/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Realtime</a>
          <div class="nav-item dropdown">
            <a href="/disign/main/" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                class="far fa-file-alt me-2"></i>Design</a>
                <div class="dropdown-menu bg-transparent border-0">
                  <a href="signin.html" class="dropdown-item">Sign In</a>
                  <a href="signup.html" class="dropdown-item">Sign Up</a>
                </div>
              </div>
          {% endif %}
        </div>
      </nav>
    </div> <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
      <!-- Navbar Start -->
      {% include 'navbar.html' %}
      <!-- Navbar End -->
      <div class="col-sm-12 col-xl-6">
        <div class="bg-secondary rounded h-100 p-4">
          <h6 class="mb-4">Basic Form</h6>
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>
      </div>







      <!-- Footer Start -->
      {% include 'footer.html' %}
      <!-- Footer End -->
    </div>
  </div>
  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'lib/chart/chart.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

  <!-- Template Javascript -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>