<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
  <div class="navbar-nav align-items-center ms-auto">
    <div class="nav-item dropdown">
      <a href="/signin/" class="nav-link">
        <i class="fa fa-user me-lg-2"></i>
        <span class="d-none d-lg-inline-flex">로그인</span>
      </a>
    </div>
    <div class="nav-item dropdown">
      <a href="/signup/" class="nav-link">
        <i class="fa fa-handshake me-lg-2"></i>
        <span class="d-none d-lg-inline-flex">회원가입</span>
      </a>
    </div>
    <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <span class="d-none d-lg-inline-flex">John Doe</span>
      </a>
      <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
        <a href="#" class="dropdown-item">My Profile</a>
        <a href="/" class="dropdown-item">Log Out</a>
      </div>
    </div>
  </div>
</nav>