{% load static %}

{% include 'header.html' %}

<body>
  <div class="container-fluid position-relative d-flex p-0">
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
      <nav class="navbar bg-secondary navbar-dark">
        <a href="/" class="navbar-brand mx-4 mb-3">
          <h3 class="text-primary"><i class="fa fa-home"></i> sixman</h3>
        </a>
        <div class="navbar-nav w-100">
          {% if context.User != "main" %}
          <a href="/index/{{context.User}}/" class="nav-item nav-link"><i
              class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
          <a href="/detail/{{context.User}}/" class="nav-item nav-link "><i class="fa fa-th me-2"></i>Detail</a>
          <a href="/input/{{context.User}}/" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Input</a>
          <a href="/record/{{context.User}}/" class="nav-item nav-link active"><i
              class="fa fa-table me-2"></i>Record</a>
          <a href="/realtime/{{context.User}}/" class="nav-item nav-link"><i
              class="fa fa-chart-bar me-2"></i>Realtime</a>
          <div class="nav-item dropdown">
            <a href="/disign/{{context.User}}/" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                class="far fa-file-alt me-2"></i>Design</a>
            <div class="dropdown-menu bg-transparent border-0">
              <a href="/" class="dropdown-item">sodole</a>
              <a href="/" class="dropdown-item">file</a>
            </div>
          </div>
          {% else %}
          <a href="/index/main/" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
          <a href="/detail/main/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Detail</a>
          <a href="/input/main/" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Input</a>
          <a href="/record/main/" class="nav-item nav-link active"><i class="fa fa-table me-2"></i>Record</a>
          <a href="/realtime/main/" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Realtime</a>
          <div class="nav-item dropdown">
            <a href="/disign/main/" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                class="far fa-file-alt me-2"></i>Design</a>
            <div class="dropdown-menu bg-transparent border-0">
              <a href="/" class="dropdown-item">sodole</a>
              <a href="/" class="dropdown-item">file</a>
            </div>
          </div>
          {% endif %}
        </div>
      </nav>
    </div> <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
      <!-- Navbar Start -->
      {% include 'navbar.html' %}
      <!-- Navbar End -->
      <!-- Table Start -->
      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
          <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
              <h6 class="mb-4">All Record</h6>
              <div class="table-responsive text-center">
                <table class="table text-center">
                  <thead>
                    <tr>
                      <th scope="col">created</th>
                      <th scope="col">speed</th>
                      <th scope="col">battey</th>
                      <th scope="col">color</th>
                      <th scope="col">User</th>
                      <th scope="col">삭제</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      {% if context.User != "main" %}
                      {% for mycar in mycars %}
                      <th scope="row" style="width: 20%;">{{mycar.created_at}}</th>
                      <td>{{mycar.mycar_speed}}</td>
                      <td>{{mycar.mycar_battery}}</td>
                      <td>
                        <div class="btn btn-sm p-0 h-100" style="background-color : {{mycar.mycar_color}}; width : 80%"
                          role="button">color</div>
                      </td>
                      <td>{{mycar.user_name}}</td>
                      <td><a href="{{mycar.get_delete_url}}" class="btn btn-danger btn-sm p-0 h-100"
                          role="button">삭제</a>
                    </tr>
                    {% endfor %}
                    {% else %}
                    {% for mycar in mycars %}
                    <th scope="row" style="width: 20%;">{{mycar.created_at}}</th>
                    <td>{{mycar.mycar_speed}}</td>
                    <td>{{mycar.mycar_battery}}</td>
                    <td>{{mycar.mycar_color}}</td>
                    <td style="width: 10%;"></td>
                    <td>삭제불가</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Table End -->

      <!-- Footer Start -->
      {% include 'footer.html' %}
      <!-- Footer End -->
    </div>
  </div>
  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'lib/chart/chart.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
  <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>

  <!-- Template Javascript -->
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>